*{
    margin: 0;
    padding: 0;
    font-family: century gothic;}

   
div.sticky {
    background-image: url("sea.jpg");
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(168, 231, 223);
    padding: 50px;
    font-size: 20px;
    opacity: 0.5;
  filter: alpha(opacity=50);
  }
header{
    background-image: url("s6.jpg");
    background-color: cadetblue;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.backgroundtext{
    border: 1px solid darkslategrey;
    background-color: darkslategrey;
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 80px;
    font-size:3vw;
}
 h3{
    text-align: center;
}

.textwel{

    font-size:1vw;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: darkslategrey;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    border-radius: 50%;
}


.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.title h1{
    color: #fff;
    font-size: 70px
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%)

}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}


.slidshow{
    max-width: 80%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 70px;
  
}
.back{
    background-image: url("sea.jpg");

}
 
p {
    
    text-align: center;
    color: rgb(26, 24, 24);
    font-size: 2vw;
    text-align: center;
    
}


.footer {
    background: rgb(0, 0, 0);
    position: relative;
    padding: 80px;
}
.social_icon{
    cursor: pointer;
    width: 50%;
    height: 35px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 0%;
  }
  .icon img{
    margin-top: 5px;
    margin-bottom: 0px;
    width: 35px;
    height: 32px;
  }
  .icon{
    padding-bottom: 0px;
    padding-left: 35%;
  }